.data__content {
    height: 580px;
    background-color: #edebeb;
    margin: 0 auto;
    padding: 30px 15px 10px;
}

.data__date {
    height: 40px;
    display: flex;
    justify-content: center;
}

.form {
    display: inline-block;
}

.form__date {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}

.form__button {
    margin: 0px 20px;
    color: blue;
    background-color: white;
    border-color: blue;
    border-width: 0.1px;
    cursor: pointer;
}

.data-table {
    margin: 30px auto;
    width: 100%;
    text-align: left;
    min-height: 370px;
}

.data-table__inner {
    width: 100%;
}

.data-table__row {
    border-top: 1px solid #9b9898;
    height: 60px;
}

.data-table__header {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
    border-right: none;
}

.data-table__item {
    padding: 12px;
    width: 20%;
    text-align: left;
    font-weight: bold;
    border-right: none;
}

.data-table__no-data {
    text-align: center;
    padding: 20px;
}

nav {
    margin: 20px auto 0;
}